.heading{
    width: 100%;
    text-align: center;
    color: white;
    line-height: 2;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.mario_bg_image{
    width: 100%;
}

#start, #status{
    font-size: 22px;
}

.footer{
    background-color: rgb(223, 14, 14);
    color: white;
    margin: 0px;
    line-height: 2;
}

a{
    color: black;
}

a:hover{
    color: cyan;
}

.modal-dialog{
    width: 90%;
}

.instruction-image{
    display: inline-block;
    width: 45%;
}

h4{
    line-height: 2;
    margin: 0px;
    background-color: #f5f5f5;
}

video{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}

canvas{
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 6px 6px 6px grey;
    margin-top: 175px;
}